/* Structure */
.container {
  width: 100%;
  padding: 20px;
}

.input-field {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 15px;
  display: flex;
  justify-content: center;

}
